:root {
    --text-color: black;
    --link-color: blueviolet;
    --background-color: whitesmoke;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body { 
    font-family: "Fira Code", sans-serif;
    background-color: var(--background-color);

    margin: 0px;
    border: 0px;
    padding: 0px;
}

a {
    color: var(--link-color)
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white;    

}

.myname {
    font-size: 1.3rem;
    margin: 0.5rem;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex; 
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--link-color);
    padding: 1rem;
    display: block;
    box-shadow: none; 
    transition: box-shadow 0.1s ease-in-out; 
}

.navbar-links li:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white;    
    transition: box-shadow 0.1s ease-in-out;
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: blueviolet;
    border-radius: 10px;
}
/* IF PHONESCREEN WIDTH: DO */
@media (max-width: 500px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem
    }

    .navbar-links.active {
        display: flex;
    }

}

.main-photo {
    width: 24rem;
    height: 32rem;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.3),
    -10px -10px 10px white;  
}
